:root{
  --primary-color: #6b5746;
  --secondary-color: #ab9d78;
  --tertiary-color: #ac7674;
  --quaternary-color: #686f60;
  --background-color: #e5e2cd;
  --text-color: #2f2f2f;
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html{
  scroll-behavior:smooth;
}

body{
  background-color: var(--background-color);
  color: var(--primary-color);
  padding:40px;
  display:flex;
  justify-content:center;
 line-height:1.6;
}

.profile-card{
  width:100%;
  max-width:700px;
}

h1{
  font-size:3rem;
  text-align:center;
  margin-bottom:10px;
}

.subtitle{
  text-align:center;
  margin-bottom:30px;
  color: var(--quaternary-color);
}

.card{
  background-color: var(--secondary-color);
  padding:20px;
  border-radius:20px;
  margin-bottom:20px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  transition:0.3s ease;
}

.card:hover{
  transform: translateY(-3px);
}

.card h2{
  margin-bottom:10px;
  color: var(--primary-color);
}

.social-grid{
  display:flex;
  flex-wrap:wrap;
  gap:10px;
}

.social{
  padding:10px 15px;
  background-color: var(--primary-color);
  color: var(--background-color);
  text-decoration:none;
  border-radius:999px;
  transition:0.3s ease;
}

.social:hover{
  background-color: var(--tertiary-color);
  transform: translateY(-2px);
}

button{
  margin-top:10px;
  padding:10px 15px;
  border:none;
  border-radius:20px;
  background-color: var(--primary-color);
  color: var(--background-color);
  cursor:pointer;
  transition:0.3s ease;
}

button:hover{
  background-color: var(--tertiary-color);
}

.back-btn{
  display:block;
  text-align:center;
  margin-top:20px;
  padding:12px;
  background-color: var(--primary-color);
  color: var(--background-color);
  text-decoration:none;
  border-radius:20px;
  transition:0.3s ease;
}

.back-btn:hover{
  background-color: var(--tertiary-color);
  transform: translateY(-3px);
}

@media (max-width: 768px){
  body{
    padding:20px;
  }

  h1{
    font-size:2.2rem;
  }
}