:root{
  --primary-color: #6b5746;
  --secondary-color: #ab9d78;
  --tertiary-color: #ac7674;
  --quaternary-color: #686f60;
  --background-color: #e5e2cd;
  --text-color: #2f2f2f;
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html{
  scroll-behavior:smooth;
}

body{
  background-color: var(--background-color);
  color: var(--primary-color);
  padding:40px;
}

h1{
  text-align:center;
  font-size:3rem;
  margin-bottom:40px;
}

/* CONTAINER */
.work-container{
  max-width:1000px;
  margin:auto;
}

/* WORK CARD */
.work-card{
  display:flex;
  align-items:center;
  gap:2rem;

  background-color: var(--secondary-color);
  border-radius:20px;
  padding:2rem;

  margin-bottom:2rem;

  box-shadow:0 5px 15px rgba(0,0,0,0.1);
  transition:0.3s ease;
}

.work-card:hover{
  transform: translateY(-5px);
}

.work-card img{
  width:300px;
  height:auto;
  object-fit:cover;
  border-radius:1.5rem;
}

.work-info{
  flex:1;
}

.work-info h2{
  font-size:2rem;
  margin-bottom:10px;
}

.work-info p{
  line-height:1.6;
  color: var(--background-color);
}

.tag{
  display:inline-block;
  margin-bottom:5px;
  padding:5px 12px;
  border-radius:1000px;
  background-color: var(--primary-color);
  color: var(--background-color);
  font-size:0.8rem;
}

.back-button{
  display:block;
  width:fit-content;
  margin:30px auto;
  padding:12px 20px;
  background-color: var(--primary-color);
  color: var(--background-color);
  text-decoration:none;
  border-radius:20px;
  transition:0.3s ease;
}

.back-button:hover{
  background-color: var(--tertiary-color);
  transform: translateY(-3px);
}

@media (max-width: 768px){

  body{
    padding:20px;
  }

  h1{
    font-size:2.2rem;
  }

  .work-card{
    flex-direction:column;
    text-align:center;
  }

  .work-card img{
    width:100%;
    height:auto;
  }
}